#goBack:hover{
    cursor:pointer;
}

#filmDetails {
    text-align: left;
    padding-left: 100px;
}

h1#title{
    text-decoration: underline;
}

#poster {
    width: 250px;
    max-width: 50%;
    height: auto;
}

#reviews{
    font-size: medium;
}


#reviewer #reviewScore{
    width:25%;
}

