.menu {
  gap: 5rem;
}

.menu-item a {
  color: #d0d0d0;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.5rem;
}

.menu-item a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
  transform-origin: left;
}

.menu-item a:hover {
  color: white;
}

.menu-item a:hover::before {
  width: 100%;
  transform: scaleX(1);
}

.reg-button {
  background-color: #5360dc;
  border: none;
  font-family: Poppins;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 5px; /* Membuat tombol tampil sebagai inline block */
  cursor: pointer; /* Mengubah kursor saat dihover menjadi pointer */
  transition: background-color 0.3s ease; /* Efek transisi ketika dihover */
}

.reg-button a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.reg-button:hover {
  background-color: #4d7fff; /* Warna latar belakang saat dihover */
}

.profile {
  padding-top: 0.2rem;  
}

.profile a {
  color: #d0d0d0;
  text-decoration: none;
  position: relative;
}

.profile a:hover {
  color: white;
}

.profile img {
  color: #d0d0d0;
  vertical-align: middle;
}

.logout-button {
  background-color: #ff6347;
  border: none;
  padding: 0.5rem 1rem;
  font-family: Poppins;
  font-size: 1.25rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.logout-button:hover {
  background-color: #ff4d26; /* Background color when hovered */
}

li {
  list-style: none;
}

.navbar {
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 20px;
  z-index: 10;
  color: #fff;
}

.navbar h1 {
  color: white;
  font-size: 32px;
  font-weight: 800;
  font-family: Poppins;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu {
  display: flex;
  color: #8f8f8f;
  padding: 10px;
  font-size: 18px;
}

.menu-item {
  padding: 5px;
}

.mobile-menu {
  display: none;
}

.logo {
  font-weight: bolder;
}

@media screen and (max-width: 800px) {
  .mobile-view {
    display: flex;
  }

  .nav-links a {
    display: none;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .mobile-menu ul {
    list-style: none;
  }

  .mobile-menu li {
    margin: 10px 0px;
  }

  .mobile-menu a {
    text-decoration: none;
  }

  .mobile-menu.active .menu-item a {
    display: block;
  }
}
