.menu a {
  color: #d0d0d0;
  text-decoration: none;
}

.menu a:hover {
  cursor: pointer;
  color: #fff;
  transition: 0.3s ease;
}

li {
  list-style: none;
}

.navbar {
  background-color: teal;
  overflow: hidden;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 20px 15px 20px;
  z-index: 10;
  color: #fff;
}

.navbar h1 {
  color: white;
  font-size: 32px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu {
  display: flex;
  color: #8f8f8f;
  padding: 10px;
  font-size: 18px;
}

.menu-item {
  padding: 5px;
}

.burger-menu {
  display: none;
  font-size: xx-large;
  margin-top: 100px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {

  .nav-links {
    display: none;
  }

  .burger-menu {
    display: contents;
  }


}

